.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore dev file
analyses/test*.R

# taxref can be downloaded from https://inpn.mnhn.fr/docs-web/docs/download/454260
# https://inpn.mnhn.fr/telechargement/referentielEspece/taxref/18.0/menu
data/raw-data/TAXREF_v18_2025

# WorldFlora can be dowloaded at:
# https://www.worldfloraonline.org/downloadData
data/raw-data/WFO_Backbone_v.2023.12

data/raw-data/GrassBase

data/raw-data/traits/tr8
data/raw-data/traits/Groot
data/raw-data/traits/PLANTATT_19_Nov_08

data/raw-data/*pdf
# regional database
## mediterranean
data/raw-data/traits/BROT2.0 
## alpine
data/raw-data/traits/Garcia-Gutterez_2018

# private datasets
data/raw-data/traits/private
data/raw-data/traits/LEDA
data/raw-data/traits/TRY


data/raw-data/traits/traits elena.xlsx

# air
air.toml
